<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Custom Designs LA" }}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {% block content %}
  {{ content | safe }}
  {% endblock %}
</body>
</html>
