{% extends "base.njk" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/LTR-layout-files/css/ltr.css">
{% endblock %}

{% block content %}
  <div class="ltr-wrapper">
    <div class="ltr-header">
      <img src="/static/LTR-layout-files/img/ltr-header.png" alt="Lena's Tack Room Logo" class="ltr-logo"/>
      <h1 class="ltr-title">{{ title }}</h1>
      <p class="ltr-subtitle">A Western Hardware Division by Custom Designs LA</p>
    </div>

    <div class="ltr-content">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}
