{% extends "base.njk" %}

{% block content %}
<link rel="stylesheet" href="/static/css/ltr.css">

<div class="ltr-hero">
  <img src="/static/img/ltr-bg.png" class="ltr-bg">
  <h1>Lena’s Tack Room Collection</h1>
  <p>A Western Hardware Division by Custom Designs LA</p>
</div>

<div class="ltr-buttons">
  <a href="/LTR/saddle-rings/">Saddle Rings</a>
  <a href="/LTR/spur-buckles/">Spur Strap Buckles</a>
  <a href="/LTR/conchos/">Conchos</a>
  <a href="/LTR/cowboy-hat-picks/">Cowboy Hat Picks</a>
  <a href="/LTR/flank-buckles/">Flank Buckles</a>
  <a href="/LTR/ranch-brand-stamps/">Ranch Brand Stamps</a>
  <a href="/LTR/horn-knots/">Horn Knots</a>
</div>

<div class="ltr-content">
  {{ content | safe }}
</div>

{% endblock %}
