{% extends "base.njk" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/ltr.css">
{% endblock %}

{% block content %}
  <div class="ltr-hero">

    <h1>{{ title }}</h1>
    <p><em>{{ description }}</em></p>

    <div class="ltr-buttons">
      {{ content | safe }}
    </div>

  </div>
{% endblock %}
