{% extends "base.njk" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/LTR/css/ltr.css">
{% endblock %}

{% block content %}
  <div class="ltr-hero">
    <img class="ltr-bg" src="/static/LTR/img/ltr-bg.webp" alt="LTR Western Background">

    <h1>{{ title }}</h1>
    <p><em>{{ description }}</em></p>

    <div class="ltr-buttons">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}
