---
layout: base.njk
---

<h1>{{ title }}</h1>
{% if description %}
<p>{{ description }}</p>
{% endif %}

{% if images %}
  <div>
  {% for img in images %}
    <img src="{{ img }}" alt="{{ title }}">
  {% endfor %}
  </div>
{% endif %}

{% if sizes %}
  <label for="size">Select Size:</label>
  <select id="size" name="size">
    {% for s in sizes %}
      <option>{{ s }}</option>
    {% endfor %}
  </select>
{% endif %}

{% if price %}
  <p>Price: ${{ price }}</p>
{% endif %}

<button>Add to Cart</button>
